<section>
  <div class="bgImage d-flex justify-content-center">
    <img
      class="p-5 mb-5"
      src="../../../../assets/Group 1.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-2">
      <div class="col pt-5">
        <h3 class="TextTitle">We Fill Your Gap</h3>
        <p class="w-50 fs-5 prg">
          We are ready to bring you all your needs anywhere at any time through
          our useful mobile application. No need to waste time you are one click
          away.
        </p>
        <button class="btn w-25">Install Now</button>
      </div>
      <div class="col d-flex justify-content-center">
        <img
          class="w-75 ms-5"
          src="../../../../assets/Group 36.png"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</section>
