<!-- <section class="bg">
 
</section> -->

<section class="bg">
  <div class="container-fluid">
    <div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-3">
      <div class="col-4 parint">
        <div class="calild">
          <p class="ms-2 fs-3">About Us</p>
          <div class="d-flex me-2">
            <p class="ms-2">Our History</p>
            <p class="ms-2">How we Work</p>
            <p class="ms-2">Resources</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <!-- <img
          height="50px"
          width="50"
          src="../../../assets/Group52.svg"
          alt=""
          srcset=""
        /> -->
      </div>
      <div class="col-4 mt-5 parint2">
        <div class="calild2">
          <div class="d-flex fs-6">
            <img
              class=""
              height="20"
              src="../../../assets/Iconmaterial-l.svg"
              alt=""
              srcset=""
            />
            <p class="ms-3 mt-2">Saudi Arabia</p>
          </div>
          <div class="fs-6">
            <p>jeddah , sultan st lilyan twor 2 11th floor</p>
            <p>Email: gello@forall.comm</p>
            <p>offic:0012345789</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
